module cluster_health 1.0;

require {
        type httpd_t;
        type unreserved_port_t;
        type user_home_t;
        type cache_home_t;
        type gconf_home_t;
        type http_port_t;
        type httpd_sys_content_t;
        class dir { read add_name remove_name write };
        class file { ioctl create getattr lock open read unlink write map };
        class tcp_socket name_connect;
}

#============= httpd_t ==============

#!!!! This avc can be allowed using one of the these booleans:
#     httpd_can_network_connect, httpd_graceful_shutdown, httpd_can_network_relay, nis_enabled
allow httpd_t http_port_t:tcp_socket name_connect;

#!!!! This avc can be allowed using one of the these booleans:
#     httpd_can_network_connect, nis_enabled
allow httpd_t unreserved_port_t:tcp_socket name_connect;

#!!!! This avc can be allowed using the boolean 'httpd_read_user_content'
allow httpd_t user_home_t:file { ioctl open read };
allow httpd_t user_home_t:dir read;
allow httpd_t gconf_home_t:dir read;
allow httpd_t cache_home_t:dir { add_name remove_name write };
allow httpd_t cache_home_t:file { getattr lock create open read unlink write map };

#!!!! This avc can be allowed using the boolean 'httpd_unified'
allow httpd_t httpd_sys_content_t:dir { add_name write };
allow httpd_t httpd_sys_content_t:file { create write };
