# -*- mode: sh -*-

cat <<EOF  | psql
SELECT 'create tablespace $tablespace_name OWNER $role_name LOCATION ''$tablespace_location'' ' WHERE
NOT EXISTS (SELECT FROM pg_tablespace WHERE spcname = '$tablespace_name')\gexec
EOF
