#!/bin/bash

[ "$${FLOCKER}" != "$$0" ] && exec env FLOCKER="$$0" flock -en "$$0" "$$0" "$$@" || :
cat <<'EOF' | su - postgres
if /bin/test $$(/bin/df $$PGDATA | /bin/tail -n1 | /bin/awk '{print $$5}' | /bin/cut -d '%' -f 1) -gt $pc ;
 then
   # vaccum full
   test "x$$(psql -qtAX -c 'select pg_is_in_recovery() = false as is_master;')" == "xt" && \
   vacuumdb --all --verbose --analyze --full $vacuumdb_option
  else
   vacuumdb --all --verbose --analyze
fi
EOF
